{% extends 'todoList/base.html' %}

{% block title %}
Datepicker
{% endblock %}

{% block content %}
<h1>Datepicker</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create" />
    <button type="submit", name="save">Create New</button>
</form>
{% load tagger %}
{% for entry in entries %}

    <div class="entry">

        <p>{{ entry.title }}, {{ entry.description }}, {{ entry.made_on }}, {{ entry|underscoreTag:'_id' }}</p>
        <a class="btn btn-outline-danger" href="{% url 'datepicker:delete' id=entry|underscoreTag:'_id' %}">Delete</a>

    </div>
{% endfor %}
{% endblock %}